<div class="p-4 text-center">

<h1>Paiement reussi !</h1>
<h4>Votre commande Num : {{order.orderNumber}} a été bien crée</h4>
<p></p>

<img style="width:250px;margin-top:20px;" src="https://www.freeiconspng.com/uploads/success-icon-10.png"  />

</div>