{% extends '@Flexy/FrontBundle/templates/layout.html.twig' %}

{% block body %}

<style>
.content img {
    border-radius: 8px;
    box-shadow: 0 3px 8px #00000090;
    text-align:center;
}
</style>
<div class="section team-section section-padding-02" >
            <div class="container">
                <!-- Team Wrapper Start -->
                <div class="team-wrapper">
                    <div class="row">
                        <div class="col-lg-7">
                            <!-- Section Title Start -->
                            <div class="section-title section-devider">
                                <h2 class="title">UNE ÉQUIPE À VOTRE SERVICE</h2>
                            </div>
                            <!-- Section Title End -->
                        </div>
                        <div class="col-lg-5">
                            <div class="team-text">
                               
                            </div>
                        </div>
                    </div>
                    <!-- Team Item Wrapper Start -->
                    <div class="team-item-wrapper" style="margin-bottom:100px;">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <!-- Single Team Start -->
                                <div class="single-team">
                                    <div class="team-img">
                                        <a href="team-single.html"><img height="300" src="https://i.pinimg.com/originals/8b/16/7a/8b167af653c2399dd93b952a48740620.jpg" alt="team"></a>
                                        <div class="team-social">
                                            <ul>
                                                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="team-content">
                                        <div class="team-name-deg">
                                            <h5 class="name"><a href="#">MR ABDELKBIR MOUMEN</a></h5>
                                            <span class="team-deg">Directeur Général</span>
                                        </div>
                                        <div class="team-share">
                                            <span><i class="fas fa-share-alt"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Team End -->
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <!-- Single Team Start -->
                                <div class="single-team team-color-2">
                                    <div class="team-img">
                                        <a href="team-single.html"><img height="300" src="https://www.nicepng.com/png/detail/207-2074901_woman-icon-avatar-icon.png" alt="team"></a>
                                        <div class="team-social">
                                            <ul>
                                                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="team-content">
                                        <div class="team-name-deg">
                                            <h5 class="name"><a href="#">MME HOUDA ABBADI</a></h5>
                                            <span class="team-deg">Directrice administrative financière</span>
                                        </div>
                                        <div class="team-share">
                                            <span><i class="fas fa-share-alt"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Team End -->
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <!-- Single Team Start -->
                                <div class="single-team team-color-3">
                                    <div class="team-img">
                                        <a href="team-single.html"><img height="300" src="https://www.nicepng.com/png/detail/207-2074901_woman-icon-avatar-icon.png" alt="team"></a>
                                        <div class="team-social">
                                            <ul>
                                                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="team-content">
                                        <div class="team-name-deg">
                                            <h5 class="name"><a href="#">MME LAILA KHABAR</a></h5>
                                            <span class="team-deg">Directrice</span>
                                        </div>
                                        <div class="team-share">
                                            <span><i class="fas fa-share-alt"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Team End -->
                            </div>
                            
                        </div>
                    </div>
                    <!-- Team Item Wrapper End -->
                </div>
                <!-- Team Wrapper End -->
            </div>
        </div>


        <div class="mb-5" style="height:300px;" ></div>

{% endblock %}





