 <!-- Header Start -->
 <div id="header" class="header section">
 <div class="container">

 <!-- Header Wrapper Start -->
 <div class="header-wrapper">

 <!-- Header Logo Start -->
 <div class="header-logo">
 <a href="#"><img src="lambition/assets/images/logo.png" alt=""></a>
 </div>
 <!-- Header Logo End -->

 <!-- Header Right Start -->
 <div class="header-right">

 <!-- Header Menu Start -->
 <div class="header-menu d-none d-lg-block">
 <ul class="main-menu">
 <li class="active-menu">
 <a href="#">Accueil</a>
 <ul class="sub-menu">
 <li><a href="#">Groupe l’Ambition</a></li>
 <li class="active"><a href="#">Mots du directeur</a></li>
 <li>
 <a href="#">Présentation</a>
 </li>
 <li>
 <a href="#">Notre Mossion</a>
 </li>
 <li>
 <a href="#">Notre Equipe</a>
 </li>
 </ul>
 </li>
 <li><a href="#">Approche pédagogique</a>
 <ul class="sub-menu">
 <li><a href="#">Maternelle</a></li>
 <li><a href="#">Primaire</a></li>
 <li><a href="#">Collége</a></li>
  <li><a href="#">Lycée</a></li>
 </ul>
 </li>
 <li><a href="#">Nos moments

</a>
 <ul class="sub-menu">
 <li><a href="#">Galerie</a></li>
 <li><a href="#">Evénements</a></li>
 </ul>
 </li>
 <li><a href="#">Vie scolaire</a>
 <ul class="sub-menu">
 <li><a href="#">Nos Activités</a></li>
 <li><a href="#">Nos Service</a></li>
 <li><a href="#">Horaires</a></li>
 </ul>
 </li>
 <li> <a href="#" >Inscription

</a></li>
 <li><a href="#">Contact</a></li>
 </ul>
 </div>
 <!-- Header Menu End -->

 <!-- Header Meta Start -->
 <div class="header-meta">

 <!-- Header Search Start -->
 <div class="header-search d-none d-lg-block">
 <a class="search-btn" href="#"><i class="flaticon-loupe"></i></a>
 <div class="header-search-content">
 <form action="#" method="get">
 <input type="text" placeholder="Search...">
 <button class="close-search" type="submit"><i class="flaticon-loupe"></i></button>
 </form>
 </div>
 </div>
 <!-- Header Search End -->
 <!-- Header Cart Start -->
 <div class="header-cart">
 <a class="cart-btn" href="#"><i class="flaticon-shopping-cart"></i></a>
 </div>
 <!-- Header Cart End -->
 <!-- Header Login Join Start -->
 <div class="header-login-join d-none d-lg-block">
 <a class="login" href="{{path("admin")}}">Se connecter</a>
 <a class="btn join-btn" href="#">S'inscrire</a>
 </div>
 <!-- Header Login Join End -->
 </div>
 <!-- Header Meta End -->

 <div class="header-toggle d-lg-none">
 <button data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu">
 <span></span>
 <span></span>
 <span></span>
 </button>
 </div>
 </div>
 <!-- Header Right End -->
 </div>
 <!-- Header Wrapper End -->

 </div>
 </div>
 <!-- Header End -->